[Unit]
Description=flask app service
After=network.target

[Service]
WorkingDirectory=/home/smile/course_work_3
ExecStart=/home/smile/course_work_3/venv/bin/python app.py

[Install]
WantedBy=multi-user.target